<div class="error-display-container">
  <div class="error-display-content">
    <mat-card>
      <mat-card-title>Identity error ho!</mat-card-title>
      <mat-card-content>
        <div class="flex-row">
          <label class="desc">Message: </label>
          <label>{{ error.message }} </label>
        </div>

        <div class="flex-row">
          <label class="desc">Description: </label>
          <label>{{ error.messageDescription }} </label>
        </div>

      </mat-card-content>
    </mat-card>
  </div>
</div>