@import "src/styles.scss";

.log-out-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.log-out-content {
    width: 100%;
    text-align: center;
}

